@media screen and (max-width: 1360px) {
  .wrap {
    max-width: 1100px;
  }

  .topic .topic__content .topic__content-main {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 1140px) {
  .wrap {
    max-width: 900px;
  }

  .container {
    font-size: 1.4rem;
  }

  header .header__banner .banner__content .banner__title {
    font-size: 7rem;
  }

  .topic .topic__content {
    .topic__content-main {
      font-size: 2.2rem;
    }
    .topic__content-sub {
      font-size: 2rem;
    }
  }

  .booking .booking__info form {
    width: 70%;
  }
}

@media screen and (max-width: 1100px) {
  .order .order__wrap .order__list .order__item {
    .order__img {
      img {
        width: 300px;
        height: 300px;
        // &:first-child {
        //     margin-left: 15px;
        // }
      }
    }

    .order__content {
      width: 300px;
    }
  }
}

@media screen and (max-width: 1000px) {
    .slick-slide {
        width: 450px !important;
        flex-shrink: 0 !important;
      }
}

@media screen and (max-width: 940px) {
  .wrap {
    width: 90vw;
  }
  .order .order__wrap .order__list .order__item {
    .order__img {
      img {
        width: 260px;
        height: 260px;
      }

      .order__virtual {
        height: 100px;
      }
    }

    .order__content {
      width: 220px;
    }
  }
}

@media screen and (max-width: 880px) {
  .topic .topic__content {
    top: 20px;
    left: 20px;
  }
  header {
    .header__banner {
      flex-direction: column-reverse;
      align-items: center;

      .banner__img {
        width: 355px;
        & > img {
          width: 100%;
        }
        div img {
          &:nth-child(1) {
            top: -30px;
          }

          &:nth-child(2) {
            right: -50px;
          }

          &:nth-child(3) {
            left: -70px;
            bottom: 40px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .order .order__wrap .order__list .order__item {
    .order__img {
      img {
        width: 220px;
        height: 220px;
      }

      .order__virtual {
        height: 90px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    font-size: 1.2rem;
  }

  .header__logo {
    a {
      img {
        width: 200px;
      }
    }
  }

  .footer__top {
    img {
        width: 300px;
    }
  }

  header {
    .header__top .header__contact {
      .header__text .header__phone {
        font-size: 2.6rem;
      }

      .header__icon img {
        width: 24px;
      }
    }

    .header__banner .banner__content {
      text-align: center;
      .banner__question {
        font-size: 4.8rem;
      }
      .banner__title {
        font-size: 5.5rem;
      }
      .banner__sub {
        font-size: 2rem;
      }
    }

    .header__img--sml {
      width: 180px;
      img {
        width: 100%;
      }
    }
  }

  .order .order__wrap {
    margin-top: 80px;
    .order__list {
      flex-direction: column;

      .order__item {
        margin-bottom: 40px;
        .order__img {
          img {
            width: 430px;
            height: 300px;
            object-fit: fill;
          }

          .order__virtual {
            height: 140px;
          }
        }

        .order__content {
          width: 430px;
        }
      }
    }
  }

  .topic {
    margin: 0;
    flex-direction: column;
    .topic__main {
        width: 100%;
        margin: 0;
        height: 200px;
        margin-bottom: 20px;
        text-shadow: 1px 1px black;
    }
    .topic__sub {
        width: 100%;
        margin: 0;

        &>div img{
            height: 200px;
            object-fit: cover;
        }
    }
    img {
        width: 100%;
    }
  }

  .booking .booking__info form {
    width: 90%;
  }

  .slick-slide {
    width: 300px !important;
    height: 300px !important;
    flex-shrink: 0 !important;
  }
  .slide__item.slick-center {
    height: 340px !important;
    img {
        margin-top: -20px;
    }
  }
}

@media screen and (max-width: 640px) {
    .booking .booking__info form {
        grid-template-columns: 1fr;
        button {
            padding: 15px;
            // width: 200px;
            // margin: 0 auto;
        }
    }

    html::-webkit-scrollbar {
        display: none;
      }
}

@media screen and (max-width: 500px) {
  header {
    .header__top {
      flex-direction: column;

      .header__logo {
        margin-bottom: 30px;
      }
    }

    .header__nav {
      display: none;
    }

    .header__banner .banner__img {
      width: 300px;
      & > img {
        width: 100%;
      }
    }
  }

  .slide p, .order .order__desc {
    text-align: justify;
  }
  

  .footer__top {
    display: flex;
    justify-content: center;
    img {
        width: 200px;
        margin: 0 auto;
        display: inline-block;
    }
  }

  .header__menu-icon {
    display: block;
  }
}

@media screen and (max-width: 460px) {
  .order .order__wrap {
    .order__list {
      .order__item {
        .order__img {
          img {
            width: 360px;
            height: 280px;
            object-fit: fill;
          }

          .order__virtual {
            height: 100px;
          }
        }

        .order__content {
          width: 360px;
        }
      }
    }
  }

  footer {
    .footer__mid {
        text-align: justify;
        flex-direction: column;
    
        &>div {
            width: 100% ;
            
        }

        .footer__desc {
            margin-bottom: 20px;
        }

        .footer__contact {
            p {
                text-align: start;
            }
        }
      }
    
      .footer__bot {
        flex-direction: column-reverse;
    
        .footer__social {
            margin-bottom: 20px;
            a {
                margin: 0 5px;
            }
        }

        .footer__address {
            text-align: center;
        }
      }
  }
}

@media screen and (max-width: 410px) {
    .slide__item {
        &::after {
            background-color: unset !important;
        }
    }
}

@media screen and (max-width: 380px) {
  header {
    padding-bottom: 100px;
  }
  .order .order__wrap {
    .order__list {
      .order__item {
        .order__img {
          img {
            width: 300px;
            height: 240px;
            object-fit: fill;
          }

          .order__virtual {
            height: 80px;
          }
        }

        .order__content {
          width: 300px;
        }
      }
    }
  }
}

@media screen and (max-width: 328px) {
  .order .order__wrap {
    .order__list {
      .order__item {
        .order__img {
          img {
            width: 100%;
            height: 230px;
            object-fit: fill;
            margin-left: 10px;
          }

          .order__virtual {
            height: 80px;
          }
        }

        .order__content {
          width: 100%;
        }
      }
    }
  }
}
